
# Hardware folder
Hardware/Velvet Controller/History
Hardware/Velvet Controller/__Previews

Hardware/Velvet ADC/History
Hardware/Velvet ADC/__Previews

# Software folder
Software/velvet_wifi/.pio/
Software/velvet_wifi/.vscode/

Software/velvet/build/
Software/velvet/Drivers/
Software/velvet/Middlewares/
Software/velvet/USB_DEVICE/

Software/velvet_bootloader/build/
Software/velvet_bootloader/Drivers/
Software/velvet_bootloader/Middlewares/
Software/velvet_bootloader/USB_DEVICE/
Software/velvet_boot_stm/MDK-ARM/velvet_boot_stm/

*.uvguix.*
*.log
*.bin

# Docs
*.bkp

# VS Code Settings
.vscode/

.config
*.o
*.pyc

.cache/

Software/Velvet_esp-idf/test
Software/Velvet_esp-idf/build
Software/Velvet_esp-idf/sdkconfig.old

Software/Velvet_esp-idf/cmake-build-debug

.$*

# VelvetApp
Software/Velvet/MDK-ARM/VelvetApp/
*.sct
Software/VelvetApp/MDK-ARM/VelvetApp/VelvetApp_VelvetApp.dep
Software/VelvetApp/MDK-ARM/VelvetApp/VelvetApp.map
Software/VelvetApp/MDK-ARM/VelvetApp/VelvetApp.lnp
Software/VelvetApp/MDK-ARM/VelvetApp/VelvetApp.htm
Software/VelvetApp/MDK-ARM/VelvetApp/VelvetApp.hex
Software/VelvetApp/MDK-ARM/VelvetApp/VelvetApp.build_log.htm
Software/VelvetApp/MDK-ARM/VelvetApp/VelvetApp.axf
Software/VelvetApp/MDK-ARM/VelvetApp/uartcallback.d
Software/VelvetApp/MDK-ARM/VelvetApp/timers.d
Software/VelvetApp/MDK-ARM/VelvetApp/tasks.d
Software/VelvetApp/MDK-ARM/VelvetApp/system_stm32f4xx.d
Software/VelvetApp/MDK-ARM/VelvetApp/stream_buffer.d
Software/VelvetApp/MDK-ARM/VelvetApp/stm32f4xx_it.d
Software/VelvetApp/MDK-ARM/VelvetApp/stm32f4xx_hal_uart.d
Software/VelvetApp/MDK-ARM/VelvetApp/stm32f4xx_hal_timebase_tim.d
Software/VelvetApp/MDK-ARM/VelvetApp/stm32f4xx_hal_tim_ex.d
Software/VelvetApp/MDK-ARM/VelvetApp/stm32f4xx_hal_tim.d
Software/VelvetApp/MDK-ARM/VelvetApp/stm32f4xx_hal_rcc_ex.d
Software/VelvetApp/MDK-ARM/VelvetApp/stm32f4xx_hal_rcc.d
Software/VelvetApp/MDK-ARM/VelvetApp/stm32f4xx_hal_pwr_ex.d
Software/VelvetApp/MDK-ARM/VelvetApp/stm32f4xx_hal_pwr.d
Software/VelvetApp/MDK-ARM/VelvetApp/stm32f4xx_hal_msp.d
Software/VelvetApp/MDK-ARM/VelvetApp/stm32f4xx_hal_iwdg.d
Software/VelvetApp/MDK-ARM/VelvetApp/stm32f4xx_hal_gpio.d
Software/VelvetApp/MDK-ARM/VelvetApp/stm32f4xx_hal_flash_ramfunc.d
Software/VelvetApp/MDK-ARM/VelvetApp/stm32f4xx_hal_flash_ex.d
Software/VelvetApp/MDK-ARM/VelvetApp/stm32f4xx_hal_flash.d
Software/VelvetApp/MDK-ARM/VelvetApp/stm32f4xx_hal_exti.d
Software/VelvetApp/MDK-ARM/VelvetApp/stm32f4xx_hal_dma_ex.d
Software/VelvetApp/MDK-ARM/VelvetApp/stm32f4xx_hal_dma.d
Software/VelvetApp/MDK-ARM/VelvetApp/stm32f4xx_hal_cortex.d
Software/VelvetApp/MDK-ARM/VelvetApp/stm32f4xx_hal.d
Software/VelvetApp/MDK-ARM/VelvetApp/rfid.d
Software/VelvetApp/MDK-ARM/VelvetApp/queue.d
Software/VelvetApp/MDK-ARM/VelvetApp/port_1.d
Software/VelvetApp/MDK-ARM/VelvetApp/port.d
Software/VelvetApp/MDK-ARM/VelvetApp/main.d
Software/VelvetApp/MDK-ARM/VelvetApp/list.d
Software/VelvetApp/MDK-ARM/VelvetApp/hx711.d
Software/VelvetApp/MDK-ARM/VelvetApp/heap_4.d
Software/VelvetApp/MDK-ARM/VelvetApp/freertos.d
Software/VelvetApp/MDK-ARM/VelvetApp/event_groups.d
Software/VelvetApp/MDK-ARM/VelvetApp/esp.d
Software/VelvetApp/MDK-ARM/VelvetApp/croutine.d
Software/VelvetApp/MDK-ARM/VelvetApp/cmsis_os2.d
Software/VelvetApp/MDK-ARM/VelvetApp/appinit.d
Software/VelvetApp/MDK-ARM/VelvetApp/app.d
Software/VelvetApp/MDK-ARM/VelvetApp/adc.d
Software/VelvetApp/MDK-ARM/VelvetApp.uvguix.mrkamalov@list.ru
Software/VelvetApp/MDK-ARM/VelvetApp.uvguix.mrkamalov@list.ru
Software/Velvet_boot_stm/MDK-ARM/velvet_boot_stm/velvet_boot_stm_velvet_boot_stm.dep
Software/Velvet_boot_stm/MDK-ARM/velvet_boot_stm/velvet_boot_stm.htm
Software/Velvet_boot_stm/MDK-ARM/velvet_boot_stm/velvet_boot_stm.build_log.htm
Software/Velvet_boot_stm/MDK-ARM/velvet_boot_stm/velvet_boot_stm.axf
Software/Velvet_boot_stm/MDK-ARM/velvet_boot_stm.uvoptx
Software/Velvet_boot_stm/MDK-ARM/velvet_boot_stm.uvguix.user
