
# Hardware folder
Hardware/Velvet Controller/History
Hardware/Velvet Controller/__Previews

Hardware/Velvet ADC/History
Hardware/Velvet ADC/__Previews

# Software folder
Software/velvet_wifi/.pio/
Software/velvet_wifi/.vscode/

Software/velvet/build/
Software/velvet/Drivers/
Software/velvet/Middlewares/
Software/velvet/USB_DEVICE/

Software/velvet_bootloader/build/
Software/velvet_bootloader/Drivers/
Software/velvet_bootloader/Middlewares/
Software/velvet_bootloader/USB_DEVICE/
# Docs
*.bkp

# VS Code Settings
.vscode/

.config
*.o
*.pyc

.cache/

Software/Velvet_esp-idf/test
Software/Velvet_esp-idf/build
Software/Velvet_esp-idf/sdkconfig.old

Software/Velvet_esp-idf/cmake-build-debug

.$*

# VelvetApp
Software/Velvet/MDK-ARM/VelvetApp/
